.blog-post {
    width: 100%;
    max-width: 1000px;
    margin: auto;

    &__title {
        color: $grey-font-2;
        font-size: 40px;
        // color: rgba(38,41,58,.8);
        letter-spacing: .2px;
        line-height: 52px;
        font-weight: 700;
        text-align: center;
        margin: 50px;
    }

    &__content {
        margin: 32px;
        max-width: 1000px;
        width: calc( 100% - 64px);
        & * {
            font-family: 'Lato', sans-serif;
            font-weight: 600;
            color: $grey-font-2;
        }

        & h1 {
            margin-bottom: 1.45rem;
            line-height: 1.45rem;
        }
    }
}