.container {
    // height: 100vh;
    // width: 100vw;
    // max-width:100%;
    // max-height: 100%;

    height: 100vh;
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 180px 1fr;
        grid-template-areas:
        'header'
        'content';

        
    // height: 100vh;
    // width: 100vw;
    // display: grid;
    // grid-template-columns: 260px 1fr;
    // grid-template-rows: 60px;
    // grid-template-areas:
    //     'header content'
    //     'header content';

    // @media (max-width: $mobile-width) {
    //     height: 100vh;
    //     width: 100%;
    //     display: grid;
    //     grid-template-columns: 100%;
    //     grid-template-rows: 220px 1fr;
    //     grid-template-areas:
    //     'header'
    //     'content';
    // }
}

.content {
    grid-area: content;
    background: $background-color;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 60px;
    grid-template-areas:
    'posts'
    'footer';

    @media (max-width: $mobile-width) {
        height: fit-content;
        overflow-y: auto;
    }

    & footer {
        grid-area: footer;
        background: #26293a;
        
        p {
            margin: 0;
            padding: 16px;
            font-family: 'Lato', sans-serif;
            font-weight: 600;
            color: rgba(255, 255, 255, 0.7);
            font-size: 14px;
        }
    }
}