.header {
    // display: block;
    // float: left;
    // width: 260px;
    // height: 100%;

    grid-area: header;
    background: #26293a;
  
    &__logo {
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: center;

      div {
        margin: 10px;
        margin-top: 0px;
      }
  
      // &:hover {
      //   background: rgba(255, 255, 255, 0.06);
      // }
  
      img {
        width: 400px;
        height: 100px;
        margin-top: 10px;
        margin-bottom: 0px;
      }
      h3 {
        font-size: 24px;
        color: #fff;
        line-height: 22px;
        font-weight: 500;
      }
  
      h4 {
        font-size: 14px;
        color: rgba(255, 255, 255, 0.7);
        line-height: 16px;
      }
    }
  
    &__menu ul {
      padding: 0;
      margin: 0;

      display: flex;
      justify-content: center;
      
  
      li {
        position: relative;
        list-style: none;
  
        a {
          color: rgba(255, 255, 255, 0.7);
          font-family: geomanist, -apple-system, BlinkMacSystemFont, segoe ui, Helvetica, Arial, sans-serif,
            apple color emoji, segoe ui emoji, segoe ui symbol;
          letter-spacing: 0.2px;
          display: block;
          padding: 12px 20px;
          line-height: 24px;
          text-decoration: none;
  
          &:hover {
            color: #fff;
            background: rgba(255, 255, 255, 0.06);
          }
        }
      }
    }
  }