.posts {
    grid-area: posts;
    display: grid;
    grid-gap: 32px;
    padding: 32px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: 220px;
  
    a {
      text-decoration: none;
    }

    @media (max-width: $mobile-width) {
      grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
    }
  }
  
  .posts__element {
    height: 210px;
    background: #fff;
    border: 1px solid rgba(38, 41, 58, 0.1);
    box-shadow: 0 1px 3px 0 rgba(38, 41, 58, 0.06);
    padding: 16px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 8px;
  
    &--meta {
      span {
        font-size: 14px;
        color: $grey-font-1;
      }
    }
  
    p {
      text-overflow: ellipsis;
      white-space: pre;
      overflow: hidden;
      font-weight: 500;
      color: $grey-font-1;
      margin-top: 10px;
      font-size: 18px;
      line-height: 28px;
    }
  
    h1 {
      font-weight: 700;
      font-size: 26px;
      color: $grey-font-1;
      line-height: 34px;
      margin: 20px 0 10px;
      overflow: hidden;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }