* {
    color: black;
    margin: 0;
  }
  html {
    height: 100%;
    font-family: 'Roboto', sans-serif;
  }
  body {
    height: 100%;
  }
  h1 {
    font-size: 24px;
    line-height: 16px;
  }
  p,
  div {
    font-size: 16px;
  }
  
  h1 > * {
    font-size: 20px;
    text-decoration-line: none;
  }
  h2 {
    font-size: 16px !important;
    font-weight: 100 !important;
  }