@mixin font-face($font-family, $url) {
	@font-face {
		font-family: '#{$font-family}';
		src: url('#{$url}.eot');
		src: url('#{$url}.eot?#iefix') format('embedded-opentype'),
		     url('#{$url}.woff') format('woff'),
		     url('#{$url}.ttf') format('truetype'),
		     url('#{$url}.svg') format('svg');
		font-weight: normal;
		font-style: normal;
	}
}

@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Roboto');